{# Music/_button_genre.html.twig #}
<div class="container-fluid text-center">
	<h1 class="d-none d-sm-block text-center mt-5 mb-5">MOOD IN MUSIC</h1>
	<button type="button" id="all" class="d-none all-desktop btn-primary rounded-circle">TOUS LES GENRES</button>
	<div class="d-none d-md-flex justify-content-evenly m-5 btn-group-lg row gy-3" role="group" aria-label="Un groupe de boutons" width="10rem;" height="3rem;">
		<button type="button" id="pop" 
		class="btn_list col-md-4 col-lg-2 flex-shrink-0 btn-primary rounded-circle"  >POP</button>
		<button type="button" id="cinematic" 
		class="btn_list col-md-4 col-lg-2 flex-shrink-0 btn-secondary rounded-circle">CINEMATIC</button>
		<button type="button" id="electro" 
		class="btn_list col-md-4 col-lg-2 flex-shrink-0 btn-success rounded-circle"  >ELECTRO</button>

		<div class="w-100 h-50 d-lg-none"></div>

		<button type="button" id="world" 
		class="btn_list col-md-4 col-lg-2 flex-shrink-0 btn-dark rounded-circle"     >WORLD</button>
		<button type="button" id="chillout" 
		class="btn_list col-md-4 col-lg-2 flex-shrink-0 btn-warning rounded-circle"  >CHILLOUT</button>
		<button type="button" id="ambient" 
		class="btn_list col-md-4 col-lg-2 flex-shrink-0 btn-info rounded-circle"     >AMBIENT</button>
	</div>
</div> 

<div class="dropdown">
	<button class="d-md-none btn btn-light dropdown-toggle mb-5" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
		Select your music genre here
	</button>
	<ul class="dropdown-menu p-0" aria-labelledby="dropdownMenuButton1">
		<li><button id="all"       class="dropdown-item btn-primary"   >TOUS LES GENRES</button></li>
		<li><button id="pop"       class="dropdown-item btn-primary"   >POP</button></li>
		<li><button id="cinematic" class="dropdown-item btn-secondary" >CINEMATIC</button></li>
		<li><button id="electro"   class="dropdown-item btn-success"   >ELECTRO</button></li>
		<li><button id="world"     class="dropdown-item btn-dark"      >WORLD</button></li>
		<li><button id="chillout"  class="dropdown-item btn-warning"   >CHILLOUT</button></li>
		<li><button id="ambient"   class="dropdown-item btn-info"      >AMBIENT</button></li>
	</ul>
</div>
