{% extends 'layout.html.twig' %}

{% block content %}
<main class="container">
    <p class="text-center mt-5 mb-5">
    {{message}}
    </p>
    <p class="mt-5 mb-5">
    <a class="nav-link" href="/admin">Retour à la liste des musiques</a>
    </p>
</main>
{% endblock %}